@if (label()) {
  <div class="text-center">
    {{ label() }}
  </div>
}
<div>
  @for (child of field$$().children!(); track child; let i = $index) {
    <div class="flex items-center mt-2 group-child">
      <ng-container
        *ngTemplateOutlet="fieldTemplateRef(); context: { $implicit: child }"
      ></ng-container>

      <div class="form-minimum">
        <button
          mat-icon-button
          type="button"
          (click)="remove(i)"
          class="overflow-hidden"
          [disabled]="minLength() ? $count <= minLength()! : false"
        >
          <mat-icon color="warn">remove</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
<div class="mt-2">
  <button mat-button type="button" (click)="add()" color="primary">添加</button>
</div>
